html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 1280px;
    font-weight: 300;
    background-color: #dadada;
    color: #2a2a2a;
}

p, h1, h2, h3, h4, a {
    margin: 0;
    font-weight: 300;
}

a, a:visited, a:hover {
    color: #3b3b3b;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#intro {
    height: 100vh auto;
    width: 50%;
    padding: 5px 5px;
    /*max-width: 40rem;*/
    margin: 1rem auto;
    text-align: center;
}

.intro__hed {
    font-size: 3rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-shadow: #FC0 1px 0 10px;
}

.intro__dek {
    font-size: 2rem;
    margin: 3rem auto;
}

#scroll {
    position: relative;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scroll__graphic .scrollmap {
    position: absolute;
    fill: #494747;
    right: 1rem;
    top: 0;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.bitnode {
    fill: #dad147;
    stroke: #bdb103;
    stroke-width: .2;
    opacity: 0;
}

.landing_point {
    fill: #ff5959;
    stroke: #f21010;
    stroke-width: .2;
    opacity: 0;
}

.cables {
    fill: none;
    stroke: #163bd6;
    opacity: 0;
}

.scroll__text {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
    width: 33%;
}

.step {
    margin: 2rem auto;
}

.step p {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-size: 1.5rem;
    margin: 1rem;
}

#interactivemap {
    height: 800px;
    width: 100%;
    top: 0;
    bottom: 0;
}

.leaflet-control-layers {
    background: rgba(75, 75, 75, 0.9);
}

.leaflet-control-layers-list {
    padding: 8px 25px 8px 15px;
    background: transparent;
    border-radius: 5px;
    color: whitesmoke;
}

.checkbox {
    width: 100%;
}

.leaflet-tooltip {
    min-width: 140px;
    font-size: 140%;
    white-space: normal;
    padding: 6px 12px 3px;
    color: whitesmoke;
    background: rgba(75, 75, 75, 0.8);
    border-radius: 1px;
    pointer-events: none;
    opacity: 0;
}

#outro {
    height: 100vh auto;
    width: 50%;
    padding: 5px 5px;
    /*max-width: 40rem;*/
    margin: 1rem auto;
    text-align: center;
}

.outro__hed {
    font-size: 3rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    text-shadow: #FC0 1px 0 10px;
}

.outro__dek {
    font-size: 2rem;
    margin: 3rem auto;
}

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 15px;
}

.footer p {
    color: #3b3b3b;
    font-size: 1em;
    font-weight: 300;
}
