html, body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 1280px;
    font-weight: 300;
    color: #2a2a2a;
}

p, h1, h2, h3, h4, a {
    margin: 0;
    font-weight: 300;
}

a, a:visited, a:hover {
    color: #f30;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}

#intro {
    height: 100vh;
    width: auto;
    padding: 5px 5px;
    /*max-width: 40rem;*/
    margin: 1rem auto;
    text-align: center;
}

.intro__hed {
    font-size: 1.4rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.intro__dek {
    font-size: 1.4rem;
}

#interactivemap {
    height: 800px;
    width: 100%;
    top: 0;
    bottom: 0;
}

#ui-controls {
    width: 176px;
    padding: 8px 25px 8px 15px;
    background: rgba(75, 75, 75, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: whitesmoke;
}

.checkbox {
    width: 100%;
}

.leaflet-tooltip {
    min-width: 140px;
    font-size: 140%;
    white-space: normal;
}

#outro {
    height: 800px;
    width: auto;
    padding: 5px 5px;
    /*max-width: 40rem;*/
    margin: 1rem auto;
    text-align: center;
}

.outro__hed {
    font-size: 1.4rem;
    margin: 1.5rem auto;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.outro__dek {
    font-size: 1.4rem;
}

/* scrollama */

#scroll {
    position: relative;
}

.scroll__graphic {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.scroll__graphic.is-fixed {
    position: fixed;
}

.scroll__graphic.is-bottom {
    bottom: 0;
    top: auto;
}

.scrollmap {
    position: absolute;
    fill: #d1c62f;
    right: 1rem;
    top: 0;
}

.bitnode {
    color: #9a9547;
    stroke: #000000;
    stroke-width: .3;
    opacity: .8;
}

.landing_point {
    color: #8f1818;
    stroke: whitesmoke;
    stroke-width: .3;
    opacity: .8;
}

.cables {
    line-width: 2;
    line-color: #1556fc;
    line-opacity: 1;
    line-comp-op: overlay;
}

.scroll__text {
    position: relative;
    padding: 0 1rem;
    max-width: 30rem;
    width: 33%;
}

.step {
    margin: 2rem auto;
}

.step p {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}
